// The gray background
.modal__backdrop {
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  overflow: auto;
  
  // The modal "window"
  .modal__container {
    width: 500px;
    position: relative;
    background: #fff;
    width: 500px;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    padding: 50px;
    border-radius: 5px;
    margin: 10% 0;
    overflow: visible;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    
    .close__button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
